#sugerencias {
    position: absolute;
    z-index: 1000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;  /* Bordes redondeados */
    max-height: 150px;
    overflow-y: auto;
    width: 23.5%; /* Puedes ajustar el ancho */
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

#consulta-container h5 {
    text-align: center;
}

#consulta-container {
    display: none; /* Oculta el contenedor por defecto */
        max-width: 768; /* O ajusta según necesites */
        margin: 0 auto; /* Para centrarlo */
        padding: 0px;
        overflow-x: auto; /* Evita desbordamientos horizontales */
}


.table-smaller {
    font-size: 12px; /* Reduce el tamaño del texto */
    white-space: nowrap; /* Evita saltos de línea innecesarios */
}


li.bi.bi-files {
    background-color: rgb(255, 255, 255); /* Cambia el fondo del <li> */
    padding: 5px; /* Opcional: agrega espacio interno */
    display: inline-block; /* Mantiene el tamaño adecuado */
}



input#search {
    background-color: rgb(243, 240, 240); /* Cambia el fondo del input */
    border: none; /* Opcional: quita el borde si no lo quieres */
    padding: 5px; /* Opcional: agrega espacio interno */
}




#sugerencias div {
    padding: 8px 12px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto suave en hover */
}

#sugerencias div:hover {
    background-color: #B95F5F; /* Cambio de color al pasar el ratón */
    color:#fff
}

#sugerencias div:active {
    background-color: #e0e0e0; /* Color al hacer clic */
}

input[readonly],
textarea[readonly] {
    background-color: #e9ecef;
    /* Color gris claro */
    cursor: not-allowed;
    /* Muestra un cursor de no permitido */
}

input[readonly],
textarea[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

/* Estilo del campo de búsqueda */
#search {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.934);
    font-size: 14px;
    /* Tamaño de fuente más pequeño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
}

/* Estilo de la lista de pacientes */
#patient-list {
    list-style: none;
    padding: 0;
    background-color: #ffffff;
    /* Fondo blanco */
    border: 1px solid rgbargb(213, 178, 187);
    /* Borde alrededor de la lista */
    border-radius: 10px;
    /* Esquinas redondeadas */
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
}

/* Estilo de los elementos de la lista de pacientes */
#patient-list li {
    margin: 0;
    /* Elimina el margen entre elementos */
    padding: 8px;
    border-bottom: 1px solid #ddd;
    /* Borde inferior para separar pacientes */
    font-size: 14px;
    /* Tamaño de fuente más pequeño */
}

/* Elimina el borde inferior del último paciente */
#patient-list li:last-child {
    border-bottom: none;
}

/* Estilo del contenedor de la lista de pacientes */
#patient-list-container {
    background: #a75353;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7a2828);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(164, 54, 54));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-height: 500px;
    /* Altura máxima del div */
    overflow-y: auto;
    /* Agrega scroll vertical si el contenido excede la altura máxima */
    padding: 10px;
    /* Espaciado opcional */
    border: 1px solid #ddd;
    /* Color y grosor del borde */
    border-radius: 10px;
    /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgb(158, 71, 93);
    /* Sombra suave */
    margin: 15px auto;
    /* Centrado horizontal */
    width: 90%;
    /* Ancho del contenedor */
}


.custom-header {
    color: aliceblue;
    background-color: #ffffff;
    /* Cambia esto al color que desees */
    /* Otros estilos opcionales, como color de texto, espaciado, etc. */
    /* Cambia el color del texto si es necesario */
    padding: 10px;
    /* Añade espaciado alrededor del contenido del encabezado */
}




/*TABLA
*/


/* Estilo para el encabezado de la tabla */
.tabla-consulta th {
    background-color: #ffffff;
    color: aliceblue;
    text-align: left;
    padding: 10px;
}


/* Estilo para las celdas con la clase "estilo-celda" */
.tabla-consulta td.estilo-celda {
    font-weight: bold;
    color: black;
    /* Cambia el color del texto de las celdas con esta clase */
}


.seguimiento_btns {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}

/* pantalla de carga */

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(151, 150, 150, 0.97);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.loading svg polyline {
    fill: none;
    stroke-width: 6;
    /* Aumentar el grosor de la línea */
    stroke-linecap: round;
    stroke-linejoin: round;
}

.loading svg polyline#back {
    fill: none;
    stroke: #d5b2bb;
}

.loading svg polyline#front {
    fill: none;
    stroke: #d5b2bb;
    stroke-dasharray: 96, 288;
    /* Ajustar la longitud del dasharray y el dashoffset */
    stroke-dashoffset: 384;
    animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
    72.5% {
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
    }
}



/* Estilos para checkboxes */
input[type="checkbox"]+label {
    color: rgb(98, 96, 96);
    font-weight: bold;
    line-height: 3em;
    cursor: pointer;
}

input[type="checkbox"]:checked+label {
    color: rgb(31, 31, 32);
}

input[type="checkbox"]+label:before {
    content: "";
    width: 12px;
    height: 12px;
    float: left;
    margin: 0.5em 0.5em 0 0;
    border: 2px solid #43464b;
    background: #fff;
}

input[type="checkbox"]:checked+label:before {
    border-color: #0fbf12;
}

input[type="checkbox"]:checked+label:after {
    content: "";
    width: 12px;
    height: 6px;
    border: 4px solid #0fbf12;
    float: left;
    margin-left: -1.95em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    border-radius: 100%;
    transform: rotate(-55deg);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label:before,
input[type="radio"]:checked+label:before {
    border-color: #0fbf12;
}

input[type="checkbox"]:checked:disabled+label,
input[type="radio"]:checked:disabled+label {
    background: #ccc;
    color: #fff !important;
}

input[type="checkbox"]:checked:disabled+label:before,
input[type="radio"]:checked:disabled+label:before {
    border-color: #bdbdbd;
}

.content {
    width: 95%;
    padding: 1em;
    box-sizing: border-box;
    float: left;
}

fieldset {
    padding: 1em;
    border-color: #d4d4d4;
    border-style: solid;
    border-width: 1px;
    background: #fff;
    border-radius: 10px;
    /* Cambia este valor según tu preferencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajusta estos valores según tu preferencia */
}


.hidden {
    display: none;
}